.row-header {
  margin: 0px;
  padding: 0px 0px; }

.row-content {
  margin: 0px;
  padding: 50px 0px;
  border-bottom: 1px ridge;
  min-height: 400px; }

.footer {
  background-color: #E9E9E9;
  margin: 0px;
  padding: 20px 0px; }

.jumbotron {
  margin: 0px;
  padding: 90px 30px;
  background: #483D8B;
  color: floralwhite; }

address {
  font-size: 80%;
  margin: 0px;
  color: #0f0f0f; }

body {
  padding: 50px 0px 0px 0px;
  z-index: 0; }

.navbar-dark {
  background-color: #483D8B; }

.tab-content {
  border-left: 1px solid #ddd;
  border-right: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  padding: 10px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px; }

.carousel {
  background: #483D8B; }
  .carousel .carousel-item {
    height: 300px; }
    .carousel .carousel-item img {
      position: absolute;
      top: 0;
      left: 0;
      min-height: 300px; }

#carouselButton {
  right: 0;
  position: absolute;
  bottom: 0; 
}

.modal-header {
  background-color: #483D8B;
  border-color: black;
  color: white;
}

.close {
  color: white;
}

.close:hover{
  color: red;
}

.modal-body {
  background-color: rgb(148, 142, 177);
}